<div class="container mt-4">
    <form [formGroup]="formularioCreado">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
            <div class="alert alert-danger" role="alert" *ngIf="formularioCreado.controls['nombre'].invalid && formularioCreado.controls['nombre'].dirty">
                <span *ngIf="formularioCreado.controls['nombre'].errors?.required">El nombre es requerido.</span>
            </div>
        </div>
        <!--mostrar el valor de la propiedad "isvalid"-->
        Propiedad invalid: {{formularioCreado.controls['nombre'].invalid}}
        <br/>
        Propiedad dirty: {{formularioCreado.controls['nombre'].dirty}}
        <div class="form-group">
            <label>Correo</label>
            <input type="text" class="form-control" formControlName="correo">
            <!-- si el control no pasa la validacion y son datos sucios, mostrar el mensaje-->
            <div class="alert alert-danger" role="alert" *ngIf="formularioCreado.controls['correo'].invalid && formularioCreado.controls['correo'].dirty">
                El correo es requerido.
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="formularioCreado.controls['correo'].invalid && formularioCreado.controls['correo'].dirty">
                El correo debe tener un formato válido.
            </div>
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" formControlName="clave">
            <div class="alert alert-danger" role="alert">
                La contraseña es requerida.
            </div>
            <div class="alert alert-danger" role="alert">
                La contraseña debe tener mínimo 6 caracteres.
            </div>
        </div>
        <button [disabled]="!formularioCreado.valid" class="btn btn-primary" (click)="agregar()">Agregar</button>
    </form>
</div>
<p class="container text-center">Formulario valido (valid): {{formularioCreado.valid}}</p>
<p class="container text-center">
   Formulario value: {{formularioCreado.value | json}}
</p>